.Preview_box {
    /*预览图片的宽高，不设置会重叠*/
    width: 200px;
    height: 200px;
    /*inline-block图片会横着排列,block会竖着排列*/
    display: inline-block;
}

.Preview_box>img {
    /*图片的宽高，要和div的宽高相同*/
    width: 200px;
    height: 200px;
    /*设置这个属性是为了能让文字显示在图片上方*/
    position: absolute;
    z-index: 10;
}

.Preview_box>a {
    /*删除标签默认不显示*/
    display: none;
    text-align: center;
    width: 200px;
    height: 50px;
    position: absolute;
    /*margin-top+height=div的高度*/
    margin-top: 150px;
    z-index: 11;
    background-color: red;
    /*line-height=height可以使单行文字垂直居中*/
    line-height: 50px;
    font-weight: bold;
    color: white;
}

.Preview_box:hover .DelTag {
    display: inline-block;
}
